@{
    ViewBag.Title = "Home Page";
}

<title>Bienvenido a DataLink Empleados</title>

<body>
    <div class="inicio">
        <h1>Bienvenido a DataLink Empleados</h1>
        <img src="@Url.Content("~/Content/img/logoinfo.png")" alt="Bienvenida" style="width:80%; max-width:800px; height:auto; margin-bottom:10px;" />

        <p>En un mundo donde la información es poder, DataLink Empleados surge como la plataforma que conecta a los trabajadores con sus datos personales y laborales de manera rápida, sencilla y totalmente segura. Nuestro objetivo principal es brindarte una experiencia digital confiable que te permita acceder a toda tu información cuando la necesites, sin complicaciones ni intermediarios.</p>

        <p>A través de nuestra página web, podrás iniciar sesión con tu usuario y contraseña para consultar de forma inmediata todos tus datos, desde tu información personal hasta tu historial salarial y cargos dentro de la empresa. Creemos en la transparencia, eficiencia y accesibilidad, por eso diseñamos un sistema que responde a las necesidades del trabajador moderno y de la empresa que busca optimizar sus procesos internos.</p>


        <h2 style="margin-top: 30px; color: #2980b9;">¿Por qué elegir DataLink Empleados?</h2>

        <ul>
            <li>✔ Seguridad total: Contamos con procesos de autenticación que protegen tu información personal.</li>
            <li>✔ Acceso en cualquier momento: Toda tu información en un solo lugar, disponible 24/7.</li>
            <li>✔ Transparencia garantizada: Consulta tu historial salarial y auditorías de cambios en tiempo real.</li>
            <li>✔ Interfaz intuitiva: Fácil de usar, sin necesidad de conocimientos técnicos.</li>
        </ul>

        <p>Nuestra misión es clara: facilitar el acceso a los datos y mejorar la comunicación entre la empresa y sus empleados, eliminando barreras y digitalizando procesos que antes eran tediosos y poco eficientes.</p>

        @Html.ActionLink("Inicia sesion tocando aqui", "Autenticar", "Login")
    </div>
</body>
